body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, greenyellow, #bfa);
    font-family: Arial sans-serif;
}
.header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}
.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
}
.container button{
    font-size: 24px;
}
.screen {
    grid-column-start: span 4;
    background-color: white;
    opacity: .75;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-break: break-all;
    overflow: hidden;
}
.secondLine{
    font-size: 2rem;
    font-weight: 700;
}
.plus {
    grid-row-start: span 2
}
